/**
Propiedades de transform:
    *MEZCLA -> se pueden poner varios atributos seguidos, por ejemplo: transition: rotate(150deg) scale(2);
    - transition
        *transiiton-timing-function: ease-in-out (se puede elegir uno de los 3 o los 3) / linear / step (va por pasos, hay que poner en paréntesis la cantidad de pasos)
        *transition-delay (retarda la accioón, se pone el tiempo en segundos)
        *ATAJO -> transition: 1s linear 2s; (en este tenemos todos los atributos).
    - rotate
    - scale
    - skew
ANIMACIONES:
    *Características
        -animation-name -> nombre de la animación

**/
body{
    margin: 0;
}
/** navegador **/
nav > a{
    text-decoration: none;
    margin: 0 15px;
    color: white;
    font-family: "lato", sans-serif;
}
nav > a:hover{
    transform: scale(1.2);
    transition: 1s;
}
.icono{
    animation: icono 3s ease-in-out infinite;
}
@keyframes icono {
    0%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(20px)
    }
    100%{
        transform: translateY(0)
    }
}
nav{
    width: 100vw;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-ico{
    display: flex;
    width: 80px;
    height: 100px;
    margin-left: 20px;
}
.index{
    background-color: #EDF060;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
.header{
    display: flex;
    /* justify-content: space-around; */
    height: 100px;
    width: 100vw;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.ico-position{
    display: flex;

}
/** Contenido **/

main{
    border-top: 2px solid #EDF060;
    margin-top: 100px;
    width: 100vw;
}
/* Cabecera */
.cab-index{
    display: flex;
    background: linear-gradient(black,transparent,#171219),url("./media/img/cab-index.jpg");
    width: 100vw;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-size: 4em;
    color: white;
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 15px;
    padding: 5px 10px;
    font-family: "monterey", sans-serif;
}

/** Our products **/

.corazon{
    animation-name: heart;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-size: 2em;
    padding-bottom: 20px;
}
@keyframes heart{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.our-products{
    padding: 40px 0;
    text-align: center;
    width: 100vw;
    height: auto; /** ¿Esto estará correcto? **/
    background-color:#171219;
    color: white;
    font-family: "montreal", sans-serif;
}
.cab-sections{
    margin-top: 0px;
    margin-bottom: 0px;
}
.articulos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.products{
    font-family: "lato", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 0;
    overflow: hidden;
    border: 1px solid #EDF060;
    border-radius: 5px;
    margin: 15px;
}
/** Prueba efecto botón **/
.products::before{
    display: flex;
    content: "";
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.184);
    position: absolute;
    right: 0px;
    top: 200px;
}
.products:hover::before{
    transform: translateY(-200px);
    transition: 1s;
}

/** Final prueba efecto botón**/

.code{
    background-image: url(./media/img/pic-code.jpg);
    background-size: cover;
}
.mobile{
    background-image: url(./media/img/pic-mobile.jpg);
    background-size: cover;
}
.music{
    background-image: url(./media/img/pic-music.jpg);
    background-size: cover;
}
.video{
    background-image: url(./media/img/pic-video.jpg);
    background-size: cover;
}
.tag-products{
    background: black;
    padding: 10px;
    border-radius: 10px;
}

/** Team **/
.position{
    z-index: 3;
}
.info{
    display: flex;
    padding-top: 20px;
    background-color: #171219;
    height: 400px;
    z-index: 0;
    position: relative;
}
.texto-team{
    /* display: flex; */
    height: 400px;
    width: 50%;
    padding: 0 30px;
    font-family: "montreal",sans-serif;
    font-size: 2em;
    text-align: justify;
    color: #EDF060;
    font-weight: 100;
    z-index: 0;
    margin-bottom: 400px;
}
.team-pic{
    width: 200px;
}

/* .pic-team::before{
    display: flex;
    content:"";
    width: 500px;
    height: 300px;
    background-color: #EDF060;
    position: absolute;
    top: -20px;
    right: 30px;
    z-index:-1;
} */

/* Footer */

footer{
    padding-left: 20px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:#829399;
    height: 100px;
    border-top: 1px solid #EDF060;
}
footer > p{
    margin: 0;
}
.pic-team{
    height: 400px;
}

/** Mediaquery**/
@media (max-width: 1077px){
    .info{
        flex-direction: column;
        font-size: 1em;

    }
}
@media (max-width: 700px){
    .header{
        height: 130px;
        flex-direction: column;
    }
    .icono{
        margin-left: 40%;
        margin-bottom: 30px;
    }
    main{
        margin-top: 130px;
    }
    .info{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 530px
    }
    .texto-team{
        font-size: 20px;
    }
    .pic-team{
        width: 375px;
    }
}



/** ESTILOS DEL TEXTO ANIMADO DEL HEADER**/
.all{
    font-size: 5em;
    font-family: monospace;
    padding: 0;
    margin-top: 0;
    color: white;
}
.bar{
    animation-name: bar;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
.c{
    animation-name: c;
    animation-duration: 1s;
    animation-delay: 0.75s;
    animation-fill-mode: backwards;
    transition: 0;

}
.o{
    animation-name: o;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    transition: 0;

}
.d{
    animation-name: d;
    animation-duration: 1s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
    transition: 0;

}
.e{
    animation-name: e;
    animation-duration: 1s;
    animation-delay: 1.50s;
    animation-fill-mode: backwards;
    transition: 0;

}
@keyframes bar{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
}
@keyframes c{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
}
@keyframes o{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
}
@keyframes d{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
}
@keyframes e{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
}